
.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    background-image: url(./assets/jeshoots-com-eCktzGjC-iU-unsplash.jpg);
}

.fun-font{
    font-family: 'Play', sans-serif;
}

.shadow{
    border: 1px solid;
    padding: 1rem;
    box-shadow: 3rem 3rem 2rem;
}


.top-border{
    border-left: 1rem solid blue;
}

.more-button{
    background-color: green;
    border: none;
    color: white;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    font-size: small;
}

.light-column{
    flex-direction: column;
    
}


.trophy{
    text-align: center;
    justify-content: space-between;
}

.links{
    justify-content: center;
    text-align: center;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    font-family: 'Play', sans-serif; 
}
@media screen and (min-width: 1000px) {
   .trophy-card{
       order: 2;
   }
    
    .row-position{
        position: relative;
        flex-direction: row;
        
    }
    
    .info-card{
        position: absolute;
        bottom: -1.5rem;
        justify-content: flex-end;
        order: 3;
        margin-right: 0;

    }
    .info-text{
        display: left;
    }

    .gif-row{
        flex-direction: row;
    }

    
    
}
